body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: red;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  color: red;
}

#small {
  width: 680px;
}

#medium {
  color: green;
}

#large {
  color: red;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid blue;
  background-color: green;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: blue;
  }
  #small {
    display: none;
  }
  #medium {
    display: none;
  }
  #large {
    font-size: 50px;
  }
}
